<link rel="stylesheet" type="text/css" href="/css/main.css">
<div class="jumbotron">
  <h1 class="display-3">Acerca de...</h1>
  <p class="lead">Este sitio ha sido desarrollado para la evaluacion de la materia Tecnologias De Programacion 
    de la Maestria en Sistemas Computacionales del Instituto Tecnologico de Zacatecas
  </p>
  <hr class="my-4">
  <div class="footer-copyright text-center navbar-light">
    (c) 09 de Noviembre del 2022 Copyright JILV 
  </div> 
</div>