<div class="card">
    <div class="class-body">
        <div class="card-title text-bg-success">
            Error
        </div>
        <h1>Error</h1>
        <p class="card-text">
            Error al conectarse a la base de datos
           por favor llame al soporte tecnico
        </p>
    </div>
</div>