
<link rel="stylesheet" type="text/css" href="/css/main.css">
<footer class="footer mb-4">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4 container-fluid" 
style=" bottom:0;">
<small class="text-white">Copyright &copy; JILV 2022</small>
</nav> 
</footer>